html {
  scroll-behavior: smooth;
}



body {
  
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: blanchedalmond;
  border-left: 10px solid brown;  
  border-right: 10px solid brown;
}

h2 {
  text-align: center;
  font-size: 25px;
  font-weight: normal;
    color: brown;
}

p {
  font-size: 25px;
    color: brown;
}

/* Estilização do grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas */
  gap: 20px;
  max-width: 800px;
  margin: 40px auto;
}

.grid-item {
  text-align: center;
    background-color: blanchedalmond;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.grid-item img {

  height: auto;
  border-radius: 8px;
  width: 300px;      /* largura fixa */
  height: 220px;     /* altura fixa */
}

.grid-item p {
  margin-top: 10px;
  font-weight: bold;
  color: #444;
}

/* Botões */
.buttons {
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 10px;

}

 button {
  background-color: brown;
  color: blanchedalmond;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
   box-shadow: 3px 3px 8px rgba(255, 52, 52, 0.4);
   
}

 button:hover {
  background-color: brown;
   background-color: darkred;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.6);
  }

  

  #grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas */
  gap: 20px;
  max-width: 800px;
  margin: 40px auto;
  justify-content: center;
}

#grid2 .item {
  text-align: center;
  background-color: blanchedalmond;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

#grid2 .item img {
  
  height: auto;
  border-radius: 8px;
  width: 300px;      /* largura fixa */
  height: 390px;     /* altura fixa */
}

#grid2 .item p {
  margin-top: 10px;
  font-weight: bold;
  color: #444;
  text-align: center;
}

iframe {
  width: 100%;
  height: 200px;
  border: 0;
}

footer{
    background-color: brown;
    color: blanchedalmond;
    text-align: center;
    padding: 4px 0px;
    margin-top: 40%;
    width: 88vw;
    font-size: 14px;
    border-radius: 15px;
     justify-content: center;
     left: 0;  

  }

  footer a{
    color: #ffd700;
    text-decoration: none;
  }

  footer a :hover{
    text-decoration: underline;
  }

  footer p{
    color: blanchedalmond;
  }

  div{
    text-align: center;
  }

  b h1{
    text-align: center;
    color: brown;
  }

  h1{
    color: brown;
    text-align: center;
  }

  li{
    list-style: none;
  }

  .link-imagem img{
    border-radius: 15px;
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* animação suave */
}
  .link-imagem img:hover {
  transform: translateY(-10px);  /* "salta" 10px pra cima */
  box-shadow: 0 8px 16px rgba(0,0,0,0.3); /* sombra mais forte */
  cursor: pointer;
}

